html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  background-color: #E8E1D1;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: clamp(1.8rem, 4vw, 2.1rem);
  color: #C53607;
  font-weight: 500;
}

h3 {
  font-size: clamp(1.5rem, 3vw, 1.7rem);
  color: #C53607;
  font-weight: 500;
}

p {
  color: #4A3A2B;
  font-weight: bold;
  line-height: 1.5;
}

a {
  color: #4A3A2B;
  font-weight: 700;
}
a:hover {
  color: #C53607;
}

ul {
  color: #4A3A2B;
  font-weight: 700;
  line-height: 1.5;
  margin: clamp(1.25rem, 3vw, 2.5rem);
  padding-left: 2.5rem;
}

li {
  padding-left: 1.25rem;
}

.border {
  background-color: #EDE9E0;
  height: 100vh;
  width: 100vw;
  min-height: 700px;
  max-height: 760px;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (min-width: 450px) {
  .border {
    border: 10px solid #C53607;
  }
}

.header {
  max-width: 1040px;
  margin: 0 auto;
}

.contact-bar {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
}
@media screen and (min-width: 900px) {
  .contact-bar {
    top: 20px;
    right: 20px;
  }
}
.contact-bar__icon img {
  padding-left: 3px;
  padding-bottom: 5px;
  width: 12vw;
  min-width: 45px;
  max-width: 55px;
}
.contact-bar__icon img:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 900px) {
  .contact-bar__icon img {
    display: block;
  }
}

.logo__img {
  display: inline-block;
  margin-top: clamp(0.625rem, 1vw, 1.25rem);
  width: 12vw;
  min-width: 70px;
  max-width: 100px;
  z-index: 2;
}
.logo__img:hover {
  transform: scale(1.1);
}

.menu {
  text-align: center;
  padding: 0.625rem 0;
  background-color: #4A3A2B;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 900px) {
  .menu {
    display: none;
  }
}
.menu__icon {
  padding-bottom: 2px;
}
@media screen and (min-width: 900px) {
  .menu__icon {
    display: none;
  }
}
.menu__item {
  font-size: 14px;
  color: #EDE9E0;
  text-decoration: none;
}
@media screen and (min-width: 900px) {
  .menu__item {
    display: none;
  }
}
.menu__item:hover {
  transform: scale(1.2);
}
@media screen and (min-width: 900px) {
  .menu__item:hover {
    transform: none;
    border: 2px solid #4A3A2B;
  }
}

.menu-large {
  display: none;
}
@media screen and (min-width: 900px) {
  .menu-large {
    display: flex;
    margin: -75px auto 0 auto;
    max-width: 650px;
    color: #4A3A2B;
    background-color: #EDE9E0;
    justify-content: center;
  }
}
.menu-large__item {
  display: none;
}
@media screen and (min-width: 900px) {
  .menu-large__item {
    display: inline-block;
    padding: 0.625rem 0.9375rem;
    color: #4A3A2B;
    background-color: #EDE9E0;
    border: 2px solid #EDE9E0;
    font-size: 1.125rem;
    text-align: center;
    flex: 1;
    text-decoration: none;
  }
  .menu-large__item:hover {
    color: #4A3A2B;
    transform: scale(1.1);
    border: 2px solid #4A3A2B;
  }
}

.hero {
  height: 450px;
  max-width: 1040px;
  margin: 0 auto;
}
.hero__box {
  padding: 0 1.25rem;
  margin: 2.5rem 0;
}
@media screen and (min-width: 900px) {
  .hero__box {
    margin-top: clamp(1px, 50%, 150px);
  }
}
.hero__text {
  flex: 1;
}
.hero__title {
  display: inline-block;
  backface-visibility: hidden;
}
.hero__title--dont {
  font-family: "Inter", sans-serif;
  font-size: clamp(2.3rem, 7vw, 3.2rem);
  font-weight: 400;
  color: #C53607;
  display: inline-block;
  animation: moveInLeft 1s ease-out;
}
.hero__title--adopt {
  font-family: "Outfit", sans-serif;
  font-size: clamp(4.8rem, 12vw, 6rem);
  font-weight: 500;
  color: #4A3A2B;
  line-height: 1;
  border-bottom: 2px solid #4A3A2B;
  display: inline-block;
  padding-bottom: 10px;
  animation: moveInRight 1s ease-out;
}
.hero__sentence {
  font-size: 14px;
  font-weight: 700;
  color: #4A3A2B;
  padding: 0.625rem 0 1.25rem 0;
  animation: moveInLeftLater 1.2s ease-out;
  animation-delay: 0.5s;
}
.hero__img {
  position: absolute;
  pointer-events: none;
  bottom: 71px;
  right: 0;
  width: 50vw;
  min-width: 350px;
  max-width: 650px;
}
@media screen and (min-width: 900px) {
  .hero__img {
    bottom: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeftLater {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn-animated {
  animation: moveInBottom 1s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 1s;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.qr-code {
  background-color: #EDE9E0;
  margin-top: clamp(2px, 5vw, 3.75rem);
  padding: 1.25rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (min-width: 700px) {
  .qr-code {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
  }
}
.qr-code__content {
  display: flex;
  height: 355px;
  padding: 1.25rem;
  padding-top: 0;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .qr-code__content {
    text-align: left;
    padding: 1.25rem;
  }
}
.qr-code__title {
  flex: 1;
  font-weight: 500;
}
.qr-code__title--change {
  color: #4A3A2B;
}
.qr-code__account {
  flex: 1;
}
.qr-code__account-text {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-weight: 700;
  color: #C53607;
}
.qr-code__account-number {
  font-size: clamp(1.5rem, 4vw, 3.3rem);
  font-weight: 500;
  color: #4A3A2B;
}
.qr-code__butt-ic {
  flex: 1;
}
@media screen and (min-width: 700px) {
  .qr-code__butt-ic {
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
  }
}
.qr-code__icon {
  margin-top: 1.25rem;
  flex: 1;
  text-align: center;
}
.qr-code__wrapper {
  display: grid;
  place-content: center;
}
.qr-code__link {
  text-align: center;
}
.qr-code__code {
  max-height: 355px;
  max-width: 100%;
}

.actions {
  margin-top: clamp(0.625rem, 5vw, 2.5rem);
  padding: 0 2.5rem;
}
@media screen and (min-width: 700px) {
  .actions {
    display: flex;
    gap: 1.25rem;
    padding: 0;
  }
}

.wrapper__cats {
  margin: clamp(0.625rem, 5vw, 2.5rem) 0;
  text-align: center;
}

.cats {
  margin-top: 0;
  padding: 0 2.5rem;
}
@media screen and (min-width: 700px) {
  .cats {
    display: flex;
    gap: 1.25rem;
    padding: 0;
  }
}
.cats__title {
  font-weight: 500;
}

.footer-background {
  color: #EDE9E0;
  background-color: #4A3A2B;
}

.footer {
  padding: 2.5rem 0;
}
@media screen and (max-width: 660px) {
  .footer {
    text-align: center;
  }
}
@media screen and (min-width: 660px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-left: 2.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 2.5rem;
  }
}
.footer__logo-wrapp {
  padding: clamp(1.25rem, 5vw, 2.5rem);
}
@media screen and (min-width: 660px) {
  .footer__logo-wrapp {
    padding-top: 3.75rem;
    padding-left: 1.25rem;
  }
}
@media screen and (min-width: 1000px) {
  .footer__logo-wrapp {
    padding-right: 2.5rem;
    padding-left: 0;
  }
}

.menu-footer {
  padding-top: clamp(0.625rem, 2vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 2vw, 1.25rem);
}
.menu-footer__item {
  color: #EDE9E0;
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}
.menu-footer__item:hover {
  transform: scale(1.1);
  color: #EDE9E0;
}

.list-links {
  padding-top: clamp(0.625rem, 2vw, 1.25rem);
  padding-bottom: clamp(0.625rem, 2vw, 1.25rem);
}
.list-links__link {
  color: #EDE9E0;
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
}
.list-links__link:hover {
  transform: scale(1.1);
  color: #EDE9E0;
}

.contacts {
  padding-top: clamp(0.625rem, 3vw, 1.25rem);
  padding-bottom: clamp(5px, 2vw, 1.25rem);
  padding-left: 1.25rem;
  display: grid;
  grid-template-columns: 36px 210px;
  gap: 0.625rem 1.25rem;
  align-items: center;
  text-align: left;
  max-width: 304px;
  margin: 0 auto;
}
@media screen and (min-width: 660px) {
  .contacts {
    margin: 0;
    padding-right: 2.5rem;
  }
}
.contacts__link {
  color: #EDE9E0;
  display: block;
  text-decoration: none;
}
.contacts__link:hover {
  transform: scale(1.1);
  color: #EDE9E0;
}
.contacts__link--icon {
  width: 36px;
}
.contacts__link--icon:hover {
  transform: scale(1.1);
}
.contacts__link--icon img {
  width: 36px;
  display: block;
}

.copy {
  background-color: #E8E1D1;
}
.copy__text {
  color: #4A3A2B;
  text-align: center;
  font-weight: 700;
  padding: 1.25rem;
}

.button {
  display: inline-block;
  font-size: 1.3rem;
  text-align: center;
  color: #4A3A2B;
  border: 2px solid #4A3A2B;
  padding: 0.625rem 1.25rem;
  min-width: 133px;
  text-decoration: none;
}
.button:hover, .button:active {
  color: #EDE9E0;
  background-color: #4A3A2B;
  border: 2px solid #4A3A2B;
}
.button--primary {
  color: #C53607;
  font-size: 1rem;
  border: 2px solid #C53607;
}
.button--primary:hover, .button--primary:active {
  color: #EDE9E0;
  background-color: #C53607;
  border: 2px solid #C53607;
}

.wrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: clamp(0.625rem, 3vw, 1.25rem);
  padding-top: 0;
}

.wrapp-butt {
  align-self: center;
  text-align: center;
  margin: 0 auto;
}
.wrapp-butt--space-up {
  margin-top: clamp(1.25rem, 4vw, 2.5rem);
}

.action {
  background-color: #EDE9E0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: clamp(1.25rem, 3vw, 2.5rem);
  margin-top: clamp(0.625rem, 5vw, 1.25rem);
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
@media screen and (min-width: 450px) {
  .action {
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 5rem;
  }
}
@media screen and (min-width: 700px) {
  .action {
    flex-direction: column;
    align-items: center;
    flex: 1 1 33.3333333333%;
    padding: 2.5rem 0;
  }
}
.action__link {
  align-self: center;
  flex: 1;
}
.action__icon {
  width: 8vw;
  min-width: 55px;
  max-width: 90px;
}
.action__icon:hover {
  transform: scale(1.1);
}

.cat-card {
  background-color: #EDE9E0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: clamp(0.625rem, 5vw, 1.25rem);
  position: relative;
  flex: 1;
}
.cat-card__wrapper {
  width: 33.3333333%;
  height: 400px;
}
.cat-card__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cat-card__content {
  padding: 1.25rem;
  padding-bottom: 1.875rem;
  color: #4A3A2B;
  text-align: center;
}
.cat-card__title {
  font-size: 1.8rem;
  margin-bottom: 1.1rem;
}
.cat-card__text {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.cat-card__text--second {
  margin-bottom: 1.2rem;
}

.basic-section {
  background-color: #EDE9E0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: clamp(2px, 5vw, 3.75rem) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 750px) {
  .basic-section {
    flex-direction: row;
  }
}
.basic-section__wrapp {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 750px) {
  .basic-section__wrapp {
    margin-left: 1.25rem;
  }
}
@media screen and (min-width: 800px) {
  .basic-section__wrapp {
    margin-left: 0;
  }
}
@media screen and (min-width: 750px) {
  .basic-section__wrapp--flex-img {
    flex: 40%;
  }
}
.basic-section__img {
  display: block;
  height: 100%;
  width: 100%;
}
.basic-section__content {
  padding: clamp(0.625rem, 3vw, 2.5rem);
  align-self: center;
  margin: 0.625rem 0;
}
@media screen and (min-width: 750px) {
  .basic-section__content--flex-content {
    flex: 60%;
  }
}
.basic-section__title {
  text-align: center;
  margin-bottom: clamp(0.625rem, 3vw, 2.5rem);
}
.basic-section__text {
  color: #4A3A2B;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding: 0 clamp(0.625rem, 3vw, 2.5rem);
  text-align: center;
}
.basic-section__text--mar-bot {
  margin-bottom: clamp(0.625rem, 3vw, 2.5rem);
}

.text {
  background-color: #EDE9E0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: clamp(0.625rem, 5vw, 3.75rem);
  margin-bottom: clamp(1.25rem, 6vw, 3.75rem);
  overflow: auto;
}
.text p:first-child {
  margin-top: 0;
}
.text p:last-child {
  margin-bottom: 0;
}
.text h3:first-child {
  margin-top: 0;
}
.text__title {
  margin: clamp(1.25rem, 3vw, 2.5rem);
}
.text__paragraph {
  color: #4A3A2B;
  font-weight: bold;
  line-height: 1.5;
  margin: clamp(1.25rem, 3vw, 2.5rem);
}
.text__paragraph--comparison {
  font-size: 20px;
}
.text__link {
  text-decoration: underline;
}
.text__link:hover {
  color: #C53607;
}
.text__color-primary {
  color: #C53607;
}
.text__list {
  color: #4A3A2B;
  font-weight: 700;
  line-height: 1.5;
  margin: clamp(1.25rem, 3vw, 2.5rem);
  padding-left: 2.5rem;
}
.text__list li {
  padding-left: 1.25rem;
}
.text__wrapp-img {
  margin: 1.25rem auto;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 660px) {
  .text__grid {
    display: grid;
    gap: 1.25rem;
    align-items: center;
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 660px) {
  .blog {
    display: grid;
    grid-template-columns: 300px 1fr;
  }
}
.blog__img {
  width: 100%;
  height: 100%;
  max-height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.form__form-field {
  margin-bottom: 2.5rem;
}
.form__question {
  font-size: 1rem;
  font-weight: 700;
  color: #4A3A2B;
  margin-bottom: 0.625rem;
}
.form__radio-check {
  padding-left: 1.25rem;
}
.form__label {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 3px;
  font-size: 1rem;
  font-weight: 700;
  color: #4A3A2B;
}
.form__label--radio-check {
  display: inline-block;
  margin: 3px;
  margin-top: 0;
}
.form__input {
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  height: 2.5rem;
  border: 2px solid #4A3A2B;
}
.form__textarea {
  font-size: 1.2rem;
  width: 100%;
  border: 2px solid #4A3A2B;
}

.pages-background {
  height: 80px;
}
@media screen and (min-width: 900px) {
  .pages-background {
    background-color: #EDE9E0;
    height: 100px;
  }
}

.pages {
  background-color: #EDE9E0;
  height: 80px;
}
@media screen and (min-width: 900px) {
  .pages {
    background-color: #EDE9E0;
    padding-bottom: 1px;
  }
}
.pages__arrow-wrapp {
  padding: 1.25rem;
}
@media screen and (min-width: 900px) {
  .pages__arrow-wrapp {
    display: none;
  }
}
.pages__arrow-icon {
  padding: 0.625rem;
  margin-top: 0.625rem;
  width: 14vw;
  min-width: 55px;
  max-width: 65px;
}
.pages__arrow-icon:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 900px) {
  .pages__arrow-icon {
    display: none;
  }
}
.pages__logo {
  display: none;
}
@media screen and (min-width: 900px) {
  .pages__logo {
    display: inline-block;
    margin-bottom: 1.25rem;
  }
}
.pages__menu {
  margin-bottom: 0.625rem;
  position: static;
  margin-top: -85px;
}
@media screen and (min-width: 900px) {
  .pages__contact-bar {
    margin-top: 140px;
  }
}
@media screen and (min-width: 900px) {
  .pages__fb {
    position: absolute;
    top: -140px;
    right: 0px;
  }
}
.pages__img-wrap {
  width: 100vw;
}
.pages__img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .pages-main__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
@media screen and (min-width: 900px) {
  .pages-main__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.minigallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3px;
}
@media screen and (min-width: 650px) {
  .minigallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: clamp(1.25rem, 3vw, 2.5rem);
  }
}
.minigallery__wrapp {
  max-width: 100vw;
}
.minigallery__img {
  height: 100%;
  width: 100%;
  border: 2px solid #4A3A2B;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media screen and (min-width: 650px) {
  .contact-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.contact-flex__item {
  text-align: center;
}
@media screen and (min-width: 650px) {
  .contact-flex__item {
    text-align: start;
  }
}

.map {
  margin: clamp(0.625rem, 5vw, 2.5rem) auto 0 auto;
  padding: clamp(1.25rem, 3vw, 1.25rem);
  display: grid;
  place-content: center;
  overflow: hidden;
}

iframe {
  padding: clamp(1.25rem, 3vw, 1.25rem);
}

.picture {
  width: 100%;
}
.picture--left {
  max-width: 350px;
  float: left;
  margin: clamp(1.25rem, 3vw, 2.5rem);
  margin-top: 0;
}
.picture--right {
  max-width: 350px;
  float: right;
  margin: clamp(1.25rem, 3vw, 2.5rem);
  margin-top: 0;
}

@media screen and (min-width: 650px) {
  .page-cat {
    display: flex;
    gap: 1.25rem;
  }
}
.page-cat__wrapp-img {
  width: 100%;
  height: 100%;
  max-width: 90%;
  flex: 1;
  margin: clamp(1.25rem, 3vw, 1.25rem);
}
.page-cat__img {
  display: block;
  height: 100%;
  width: 100%;
}
.page-cat__checkbox-grids {
  flex: 1;
}
@media screen and (min-width: 900px) {
  .page-cat__checkbox-grids {
    display: flex;
    gap: 1.25rem;
  }
}
.page-cat__title {
  text-align: center;
  padding-top: clamp(1.25rem, 3vw, 1.25rem);
}
.page-cat__checkbox-grid {
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 0.625rem;
  color: #4A3A2B;
  font-size: 1.1rem;
  font-weight: 700;
}

.space-up {
  margin-top: 1.25rem;
}

.hidden {
  display: none;
}
@media screen and (min-width: 900px) {
  .hidden {
    display: block;
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */