---
layout: layouts/hlavni-strana.njk
title: Azyl Jiřina Skoumalová
---


<!--Main-->

<main class="wrapper">


    <!--Hlavní nadpis stránky-->

    <div class="wrapper__cats">
        <h2 class="cats__title">Azyl Jiřina Skoumalová z.s.</h2>
    </div>

    <!--Actions-->

    <section class="actions">
        <article class="action">
            <a href="/adoptuj/" class="action__link"><img class="action__icon" src="/icons/icon-cat-brown.svg" alt="ikona kočka"></a>
            <a class="button" href="/adoptuj/">Adoptuj</a>
        </article>

        <article class="action">
            <a href="/daruj/" class="action__link"><img class="action__icon" src="/icons/icone-gift-brown.svg" alt="ikona dar"></a>
            <a class="button" href="/daruj/"> Daruj </a>
        </article>

        <article class="action">
            <a href="/pomahej/" class="action__link"><img class="action__icon" src="/icons/icone-help-brown.svg" alt="ikona pomoc"></a>
            <a class="button" href="/pomahej/">Pomáhej</a>
        </article>
    </section>

    <!--QR-Code-->

    <section class="qr-code">
        <div class="qr-code__content">
            <h2 class="qr-code__title">I <span class="qr-code__title--change">jedna</span> naplněná miska pomůže!</h2>
            <div class="qr-code__account">
                <p class="qr-code__account-text">Náš transparentní účet:</p>
                <p class="qr-code__account-number">22 011 999 40 / 2010</p>
            </div>
            <div class="qr-code__butt-ic">
                <div class="wrapp-butt"><a class="button" href="/daruj/">Podpořit jinak</a></div>
                <figure class="qr-code__icon"><img src="/icons/cat-with-bowl.svg" alt="kočka s miskou"></figure>
            </div>
        </div>
        <div class="qr-code__wrapper" ><a class="qr-code__link" href="/daruj/"><img class="qr-code__code" src="/icons/qr-azyl-ramecek.png" alt="qr-code"></a></div>
    </section>

        <!--Cats-->

    <div class="wrapper__cats">
        <h2 class="cats__title">Kdo na Tebe čeká?</h2>
        <section class="cats">

            <article class="cat-card">
                <figcaption class="cat-card__wrapper"><a href="/adoptuj/" class="cat-card__link"><img class="cat-card__img" src="/kocky/johny.jpg" alt="kočka k adopci"></a></figcaption>
                <div class="cat-card__content">
                    <h3 class="cat-card__title">Johny</h3>
                    <p class="cat-card__text cat-card__text--second">věk: 2 roky</p>
                    <a class="button button--primary" href="/adoptuj/">Zjistit více</a>
                </div>
            </article>
            <article class="cat-card">
                <figcaption class="cat-card__wrapper"><a href="/adoptuj/" class="cat-card__link"><img class="cat-card__img" src="/kocky/sonicka.jpg" alt="kočka k adopci"></a></figcaption>
                <div class="cat-card__content">
                    <h3 class="cat-card__title">Sonička</h3>
                    <p class="cat-card__text cat-card__text--second">věk: 1 rok</p>
                    <a class="button button--primary" href="/adoptuj/">Zjistit více</a>
                </div>
            </article>
            <article class="cat-card">
                <figcaption class="cat-card__wrapper"><a href="/adoptuj/" class="cat-card__link"><img class="cat-card__img" src="/kocky/jury.jpg" alt="kočka k adopci"></a></figcaption>
                <div class="cat-card__content">
                    <h3 class="cat-card__title">Jury</h3>
                    <p class="cat-card__text cat-card__text--second">věk: 2 roky</p>
                    <a class="button button--primary" href="/adoptuj/">Zjistit více</a>
                </div>
            </article>

        </section>
        <div class="wrapp-butt wrapp-butt--space-up"><a class="button" href="/adoptuj/">Všechny kočky k adopci</a></div>
    </div>

    <!--Virtual-adoption-->

    <section class="basic-section">
        <figure class="basic-section__wrapp"><img class="basic-section__img" src="/images/cat-virtual-adoption.jpg" alt="virtualni-adopce"></figure>
        <article class="basic-section__content">
            <h2 class="basic-section__title">Virtuální adopce</h2>
            <p class="basic-section__text">Možná nemůžete mít svojí kočku, máte třeba alergii nebo jiný důvod, ale kočky prostě milujete a i když nemůže, chtěli byste nějakou..</p>
            <p class="basic-section__text basic-section__text--mar-bot">Máme pro Vás skvělou zprávu! Můžete! Adoptujte si ji virtuálně.</p>
            <div class="wrapp-butt"><a class="button button--primary" href="/daruj/virtualni-adopce/">Chci se dozvědět více</a></div>
        </article>
    </section>

</main>


    <!--Cats

    <div class="wrapper__cats">
        <h2 class="cats__title">Kdo na Tebe čeká?</h2>
        <section class="cats">

            {% for kocka in kocky %}

            {% if loop.index <= 3 %}

            <article class="cat-card" data-tag="{{ kocka.tagy }}">
                <figcaption class="cat-card__wrapper"><a href="/adoptuj/{{ kocka.jmeno | slug }}/" class="cat-card__link"><img class="cat-card__img" src="/kocky/{{ kocka.foto }}" alt="kočka k adopci"></a></figcaption>
                <div class="cat-card__content">
                    <h3 class="cat-card__title">{{ kocka.jmeno }}</h3>
                    <p class="cat-card__text">{{ kocka.vek }}</p>
                    <p class="cat-card__text cat-card__text--second">{{ kocka.pohlavi }}</p>
                    <a class="button button--primary" href="/adoptuj/{{ kocka.jmeno | slug }}/">Zjistit více</a>
                </div>
            </article>

            {% endif %}

            {% endfor %}

        </section>
        <div class="wrapp-butt wrapp-butt--space-up"><a class="button" href="/adoptuj/">Všechny kočky k adopci</a></div>
    </div>

    -->

        <!--Cats

        <div class="wrapper__cats">
            <h2 class="cats__title">Kdo na Tebe čeká?</h2>
            <section class="cats">
    
                {% set homekocky = [ kocky | random, kocky | random, kocky | random ] %}
    
                {% for kocka in homekocky %}
    
                <article class="cat-card" data-tag="{{ kocka.tagy }}">
                    <figcaption class="cat-card__wrapper"><a href="/adoptuj/{{ kocka.jmeno | slug }}/" class="cat-card__link"><img class="cat-card__img" src="/kocky/{{ kocka.foto }}" alt="kočka k adopci"></a></figcaption>
                    <div class="cat-card__content">
                        <h3 class="cat-card__title">{{ kocka.jmeno }}</h3>
                        <p class="cat-card__text">{{ kocka.vek }}</p>
                        <p class="cat-card__text cat-card__text--second">{{ kocka.pohlavi }}</p>
                        <a class="button button--primary" href="/adoptuj/{{ kocka.jmeno | slug }}/">Zjistit více</a>
                    </div>
                </article>
    
    
                {% endfor %}
    
            </section>
            <div class="wrapp-butt wrapp-butt--space-up"><a class="button" href="/adoptuj/">Všechny kočky k adopci</a></div>
        </div>

        -->