<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@500&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/style.css">

    <title>{{ title }}</title>
</head>



<body>

    <div class="border">

        <!--Header-->

        <header class="header">
            <a href="/" class="logo"><img class="logo__img" src="/icons/logo-azyl.png" alt="Kočičí-azyl"></a>

                 <!--Menu pro rozlišení nad 900px-->

            <nav class="menu-large">
                <a href="/" class="menu-large__item">Domů</a>
                <a href="/adoptuj/" class="menu-large__item">Adoptuj</a>
                <a href="/daruj/" class="menu-large__item">Daruj</a>
                <a href="/pomahej/" class="menu-large__item">Pomáhej</a>
                <a href="/o-nas/" class="menu-large__item">O nás</a>
                <a href="/kontakt/" class="menu-large__item">Kontakt</a>
            </nav>


                        <!--Ikonky kontaktů-->

            <div class="contact-bar">
                <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-phone.svg" alt="icone-phone"></a>
                <a href="mailto:dastinek.ustup@seznam.cz" class="contact-bar__icon"><img src="/icons/icone-email.svg" alt="icone-email"></a>
                <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-position.svg" alt="icone-position"></a>
                <a href="https://www.facebook.com/profile.php?id=100075934867677" class="contact-bar__icon"><img src="/icons/Icone-fb.svg" alt="icone-fb"></a>
            </div>
        </header>


        <!--Hero-->

        <section class="hero">
            <div class="hero__box">
                <div class="hero__text">
                    <h1 class="hero__title"><span class="hero__title--dont">Nekupuj.</span><br>
                    <span class="hero__title--adopt">Adoptuj!</span></h1>
                    <p class="hero__sentence">Staň se hrdinou v jednom kočičím příběhu</p>
                </div>
                <a class="button" href="/adoptuj/">Chci být hrdinou</a>
            </div>
            <img class="hero__img" src="/images/hero-kocka.png" alt="kočka">
        </section>

            <!--Menu pro rozlišení do 900px-->

        <nav class="menu grid-five-columns">
            <a href="/" class="menu__item none"><img class="menu__icon" src="/icons/Icone-domu-menu.svg" alt="icone-domu"></a>
            <a href="/adoptuj/" class="menu__item none"><img class="menu__icon" src="/icons/icone-adoptuj-menu.svg" alt="icone-adoptuj"></a>
            <a href="/daruj/" class="menu__item none"><img class="menu__icon" src="/icons/icone-daruj-menu.svg" alt="icone-daruj"></a>
            <a href="/pomahej/" class="menu__item none"><img class="menu__icon" src="/icons/icone-pomahej-menu.svg" alt="icone-pomahej"></a>
            <a href="/o-nas/" class="menu__item none"><img class="menu__icon" src="/icons/Icone-o-nas-menu.svg" alt="icone-o-nas"></a>
            <a href="/" class="menu__item">Domů</a>
            <a href="/adoptuj/" class="menu__item">Adoptuj</a>
            <a href="/daruj/" class="menu__item">Daruj</a>
            <a href="/pomahej/" class="menu__item">Pomáhej</a>
            <a href="/o-nas/" class="menu__item">O nás</a>
        </nav>

    </div>


    <!--Main-->

    <main class="wrapper">



        {{ content | safe }}



    </main>


    <!--Footer-->

    <footer class="footer-background">
        <section class="footer wrapper">
            <figure class="footer__logo-wrapp"><img class="footer__logo-img" src="/icons/logo-azyl-footer.svg" alt="logo-azyl"></figure>
            
            <div class="menu-footer">
                <a href="/" class="menu-footer__item">Domů</a>
                <a href="/adoptuj/" class="menu-footer__item">Adoptuj</a>
                <a href="/daruj/" class="menu-footer__item">Daruj</a>
                <a href="/pomahej/" class="menu-footer__item">Pomáhej</a>
                <a href="/o-nas/" class="menu-footer__item">O nás</a>
            </div>

            <div class="list-links">
                <a href="/kontakt/" class="list-links__link">Kontakt</a>
                <a href="/daruj/dlouhodoba-podpora/" class="list-links__link">Dlouhodobá podpora</a>
                <a href="/daruj/materialni-pomoc/" class="list-links__link">Materiální pomoc</a>
                <a href="/daruj/virtualni-adopce/" class="list-links__link">Virtuální adopce</a>
                <a href="/pomahej/" class="list-links__link">Dobrovolnictví</a>
            </div>

            <div class="contacts">
                <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-phone.svg" alt="mobil"></a>
                <a class="contacts__link" href="/kontakt/">605 174 466</a>
                <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-email.svg" alt="e-mail"></a>
                <a class="contacts__link" href="/kontakt/">dastinek.ustup@seznam.cz</a>
                <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-position.svg" alt="adresa"></a>
                <a class="contacts__link" href="/kontakt/">Ústup 18</a>
                <a class="contacts__link contacts__link--icon" href="https://www.facebook.com/profile.php?id=100075934867677"><img class="contacts__icon" src="/icons/Icon-FB-footer.svg" alt="fb-ikona"></a>
                <a class="contacts__link" href="https://www.facebook.com/profile.php?id=100075934867677">Sledujte nás</a>
            </div>
        </section>
    </footer>

    <section class="copy">
        <p class="copy__text">© 2023 - Kočičí Azyl Jiřiny Skoumalové z.s.</p>
    </section>

</body>
</html>