<!--Footer-->

<footer class="footer-background">
    <section class="footer wrapper">
        <figure class="footer__logo-wrapp"><img class="footer__logo-img" src="/icons/logo-azyl-footer.svg" alt="logo-azyl"></figure>
        
        <div class="menu-footer">
            <a href="/" class="menu-footer__item">Domů</a>
            <a href="/adoptuj/" class="menu-footer__item">Adoptuj</a>
            <a href="/daruj/" class="menu-footer__item">Daruj</a>
            <a href="/pomahej/" class="menu-footer__item">Pomáhej</a>
            <a href="/o-nas/" class="menu-footer__item">O nás</a>
        </div>

        <div class="list-links">
            <a href="/kontakt/" class="list-links__link">Kontakt</a>
            <a href="/daruj/dlouhodoba-podpora/" class="list-links__link">Dlouhodobá podpora</a>
            <a href="/daruj/materialni-pomoc/" class="list-links__link">Materiální pomoc</a>
            <a href="/daruj/virtualni-adopce/" class="list-links__link">Virtuální adopce</a>
            <a href="/pomahej/" class="list-links__link">Dobrovolnictví</a>
        </div>

        <div class="contacts">
            <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-phone.svg" alt="mobil"></a>
            <a class="contacts__link" href="/kontakt/">605 174 466</a>
            <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-email.svg" alt="e-mail"></a>
            <a class="contacts__link" href="/kontakt/">dastinek.ustup@seznam.cz</a>
            <a class="contacts__link contacts__link--icon" href="/kontakt/"><img class="contacts__icon" src="/icons/icone-position.svg" alt="adresa"></a>
            <a class="contacts__link" href="/kontakt/">Ústup 18</a>
            <a class="contacts__link contacts__link--icon" href="https://www.facebook.com/profile.php?id=100075934867677"><img class="contacts__icon" src="/icons/Icon-FB-footer.svg" alt="fb-ikona"></a>
            <a class="contacts__link" href="https://www.facebook.com/profile.php?id=100075934867677">Sledujte nás</a>
        </div>
    </section>
</footer>

<section class="copy">
    <p class="copy__text">© 2023 - Azyl Jiřina Skoumalová z.s.</p>
</section>