<div class="border">

    <!--Header-->

    <header class="header">
        <a href="/" class="logo"><img class="logo__img" src="/icons/logo-azyl.png" alt="Kočičí-azyl"></a>

             <!--Menu pro rozlišení nad 900px-->

        <nav class="menu-large">
            <a href="/" class="menu-large__item">Domů</a>
            <a href="/adoptuj/" class="menu-large__item">Adoptuj</a>
            <a href="/daruj/" class="menu-large__item">Daruj</a>
            <a href="/pomahej/" class="menu-large__item">Pomáhej</a>
            <a href="/blog/" class="menu-large__item">Blog</a>
            <a href="/o-nas/" class="menu-large__item">O nás</a>
            <a href="/kontakt/" class="menu-large__item">Kontakt</a>
        </nav>


                    <!--Ikonky kontaktů-->

        <div class="contact-bar">
            <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-phone.svg" alt="icone-phone"></a>
            <a href="mailto:dastinek.ustup@seznam.cz" class="contact-bar__icon"><img src="/icons/icone-email.svg" alt="icone-email"></a>
            <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-position.svg" alt="icone-position"></a>
            <a href="https://www.facebook.com/profile.php?id=100075934867677" class="contact-bar__icon"><img src="/icons/Icone-fb.svg" alt="icone-fb"></a>
        </div>
    </header>


    <!--Hero-->

    <section class="hero">
        <div class="hero__box">
            <div class="hero__text">
                <h1 class="hero__title"><span class="hero__title--dont">Nekupuj.</span><br>
                <span class="hero__title--adopt">Adoptuj!</span></h1>
                <p class="hero__sentence">Staň se hrdinou v jednom kočičím příběhu</p>
            </div>
            <a class="button btn-animated" href="/adoptuj/">Chci být hrdinou</a>
        </div>
        <img class="hero__img" src="/images/hero-kocka.png" alt="kočka">
    </section>

        <!--Menu pro rozlišení do 900px Homepage-->

    <nav class="menu grid-five-columns">
        <a href="/" class="menu__item none"><img class="menu__icon" src="/icons/Icone-domu-menu.svg" alt="icone-domu"></a>
        <a href="/adoptuj/" class="menu__item none"><img class="menu__icon" src="/icons/icone-adoptuj-menu.svg" alt="icone-adoptuj"></a>
        <a href="/daruj/" class="menu__item none"><img class="menu__icon" src="/icons/icone-daruj-menu.svg" alt="icone-daruj"></a>
        <a href="/pomahej/" class="menu__item none"><img class="menu__icon" src="/icons/icone-pomahej-menu.svg" alt="icone-pomahej"></a>
        <a href="/o-nas/" class="menu__item none"><img class="menu__icon" src="/icons/Icone-o-nas-menu.svg" alt="icone-o-nas"></a>
        <a href="/" class="menu__item">Domů</a>
        <a href="/adoptuj/" class="menu__item">Adoptuj</a>
        <a href="/daruj/" class="menu__item">Daruj</a>
        <a href="/pomahej/" class="menu__item">Pomáhej</a>
        <a href="/o-nas/" class="menu__item">O nás</a>
    </nav>

</div>