<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Ověření pro Google Search Console -->
    <meta name="google-site-verification" content="AkWzB4wxf_vvNZUEWDjfCTp-FnM7bDLyEBw0BXNSqhQ" />

    <!-- Flavicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Zobrazení na soc. sítích -->
    <meta property="og:title" content="Kočičí Azyl">
    <meta property="og:description" content="Útulek pro opuštěné kočky, nacházející se přibližně 30km nad Brnem.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/kocici-azyl.jpg">
    <meta property="og:url" content="https://kocici-azyl.cz/">
    <meta property="og:locale" content="cs_CZ">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@500&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/CSS/style.css">

    <title>{{ title }}</title>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-380KQV33JY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-380KQV33JY');
</script>