<!--Header Other pages except homepage-->

<div class="pages-background">

    <header class="header pages">
        <a href="/" class="pages__arrow-wrap"><img class="pages__arrow-icon" src="/icons/arrow-back.svg" alt="Kočičí-azyl"></a>
        <a href="/" class="logo pages__logo"><img class="logo__img" src="/icons/logo-azyl.png" alt="Kočičí-azyl"></a>

            <!--Menu Other pages except Homepage-->

        <nav class="menu-large pages__menu">
            <a href="/" class="menu-large__item">Domů</a>
            <a href="/adoptuj/" class="menu-large__item">Adoptuj</a>
            <a href="/daruj/" class="menu-large__item">Daruj</a>
            <a href="/pomahej/" class="menu-large__item">Pomáhej</a>
            <a href="/o-nas/" class="menu-large__item">O nás</a>
            <a href="/kontakt/" class="menu-large__item">Kontakt</a>
        </nav>


                    <!--Ikonky kontaktů-->

        <div class="contact-bar pages__contact-bar">
            <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-phone.svg" alt="icone-phone"></a>
            <a href="mailto:dastinek.ustup@seznam.cz" class="contact-bar__icon"><img src="/icons/icone-email.svg" alt="icone-email"></a>
            <a href="/kontakt/" class="contact-bar__icon"><img src="/icons/icone-position.svg" alt="icone-position"></a>
            <a href="https://www.facebook.com/profile.php?id=100075934867677" class="contact-bar__icon pages__fb"><img src="/icons/Icone-fb.svg" alt="icone-fb"></a>
        </div>

    </header>

</div>