@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use '../base/base';


.wrapper__cats {
    margin: clamp(v.$spacer-half, 5vw, v.$spacer-double) 0;
    text-align: center;
}

.cats {
    margin-top: 0;
    padding: 0 v.$spacer-double;

    @include mx.media-min(700px) {
       display: flex;
       gap: v.$spacer;
       padding: 0;
    }

    &__title {
        font-weight: 500;
        margin-top: clamp(v.$spacer-half, 5vw, v.$spacer-double);
        margin-bottom: clamp(3px, 3vw, v.$spacer);
    }
}
