@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use '../base/base';


.hero {
    height: 450px;
    max-width: 1040px;
    margin: 0 auto;

    &__box {
        padding: 0 v.$spacer;
        margin: v.$spacer-double 0;

        @include mx.media-min(900px) {
            margin-top: clamp(1px, 50%, 150px);
        }
    }

    &__text {
        flex: 1;
    }


    &__title {
        display: inline-block;
        backface-visibility: hidden;
    

        &--dont {
            font-family: v.$font-special-2;
            font-size: clamp(2.3rem, 7vw, 3.2rem);

            font-weight: 400;
            color: v.$color-primary-400;
            display: inline-block;

            animation: moveInLeft 1s ease-out;
        }

        &--adopt {
            font-family: v.$font-special;
            font-size: clamp(4.8rem, 12vw, 6rem);
            font-weight: 500;
            color: v.$color-secondary-400;
            line-height: 1;
            border-bottom: 2px solid v.$color-secondary-400;
            display: inline-block;
            padding-bottom: 10px;

            animation: moveInRight 1s ease-out;
        }

       

    }

    &__sentence {
        font-size: 14px;
        font-weight: 700;
        color: v.$color-secondary-400;
        padding: v.$spacer-half 0 v.$spacer 0;

        animation: moveInLeftLater 1.2s ease-out;
        animation-delay: .5s;
    }

    &__img {
        position: absolute;
        pointer-events: none;
        bottom: 71px;
        right: 0;

        width: 50vw;
        min-width: 350px;
        max-width: 650px;

        @include mx.media-min(900px) {
            bottom: 0;
        }
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeftLater {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn-animated {
    animation: moveInBottom 1s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}