@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use '../base/base';

.cat-card {
    background-color: v.$color-background-sections;
    box-shadow: v.$shadow;
    margin-top: clamp(v.$spacer-half, 5vw, v.$spacer);  
    position: relative;
    flex: 1;

    &__wrapper {
        width: 33.3333333%;
        height: 400px;
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    &__content {
        padding: v.$spacer;
        padding-bottom: calc(v.$spacer + v.$spacer-half);
        color: v.$color-secondary-400;
        text-align: center;
    }

    &__title {
        font-size: 1.8rem;
        margin-bottom: 1.1rem;
    }

    &__text {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.2rem;

        &--second {
            margin-bottom: 1.2rem;
        }
    }


}