@use '../base/variables' as v;
@use '../base/mixins' as mx;


.filters {
    margin-top: 4rem;
    text-align: start;
}

.filter-style {
    font-weight: 700;
    font-size: 1rem;
    color: white;
    background-color: v.$color-background-body;
    padding: .5rem v.$spacer;
    border: 2px solid white;
    border-radius: 30px;
    margin: 5px 2px;
    cursor: pointer;

    &--1 {
        color: #4091c0;
        border: 2px solid #4091c0;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #4091c0;
        }
    }

    &--2 {
        color: #b83104;
        border: 2px solid #b83104;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #b83104;
        }
    }

    &--3 {
        color: #cc63a2;
        border: 2px solid #cc63a2;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #cc63a2;
        }
    }

    &--4 {
        color: #fff;
        border: 2px solid #fff;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, .2);

        &:hover,
        &:active {
            color: #555;
            background-color: #fff;
        }
    }

    &--5 {
        color: #888;
        border: 2px solid #888;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #888;
        }
    }

    &--6 {
        color: #111;
        border: 2px solid #111;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #111;
        }
    }

    &--7 {
        color: #864e29;
        border: 2px solid #864e29;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #864e29;
        }
    }

    &--8 {
        color: #d5561a;
        border: 2px solid #d5561a;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #d5561a;
        }
    }

    &--9 {
        color: #1f8f46;
        border: 2px solid #1f8f46;

        &:hover,
        &:active {
            color: v.$color-background-sections;
            background-color: #1f8f46;
        }
    }
}