@use '../base/variables' as v;
@use '../base/mixins' as mx;
@use '../base/base';

// sekce s odstavci

.text {
    background-color: v.$color-background-sections;
    box-shadow: v.$shadow;
    padding: clamp(v.$spacer-half, 5vw, v.$spacer-medium);
    margin-bottom: clamp(v.$spacer, 6vw, v.$spacer-medium);

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    h3:first-child {
        margin-top: 0;
    }

    &__title {
        margin: clamp(20px, 3vw, 40px);
    }

    &__paragraph {
        color: v.$color-secondary-400;
        font-weight: bold;
        line-height: 1.5;
        margin: clamp(v.$spacer, 3vw, v.$spacer-double);

        &--comparison {
            font-size: 20px;
        }
    }

    &__link {
        text-decoration: underline;

        &:hover {
            color: v.$color-primary-400;
        }
    }

    &__color-primary {
        color: v.$color-primary-400;
    }

    &__list {
        color: v.$color-secondary-400;
        font-weight: 700;
        line-height: 1.5;
        margin: clamp(v.$spacer, 3vw, v.$spacer-double);
        margin-left: v.$spacer-double;
    }

    &__list li {
        padding-left: v.$spacer;
    }

    &__wrapp-img {
        margin: v.$spacer auto;
        text-align: center;
    }

    &__grid {
        @include mx.media-min(660px) {
            display: grid;
            gap: v.$spacer;
            align-items: center;
            grid-template-columns: 1fr 3fr;
        }
    }
}