@use '../base/variables' as v;
@use '../base/mixins' as mx;



// paddingy a bordery započítány do velikosti boxů

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
  }



// reset

* {
    margin: 0;
    padding: 0;
}



// body

body {
   font-family: v.$font-body;
   font-size: 16px;
   background-color: v.$color-background-body;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.1rem);
    color: v.$color-primary-400;
    font-weight: 500;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    color: v.$color-primary-400;
    font-weight: 500;
}

p {
    color: v.$color-secondary-400;
        font-weight: bold;
        line-height: 1.5;
}


a {
    color: v.$color-secondary-400;
    font-weight: 700;

    &:hover {
        color: v.$color-primary-400;
    }
}

ul {
    color: v.$color-secondary-400;
        font-weight: 700;
        line-height: 1.5;
        margin: clamp(v.$spacer, 3vw, v.$spacer-double);
        padding-left: v.$spacer-double;
}

li {
    padding-left: v.$spacer;
}

