---
layout: layouts/vedlejsi-strana.njk
title: Článek
---



<!--Header-image-->

<figcaption class="pages__img-wrapp"><img class="pages__img" src="/images/dlouhodoba-podpora-header.jpg" alt="kocky-adopce"></figcaption>


<main class="wrapper">


    <!--Hlavní nadpis stránky-->

    <div class="wrapper__cats">
        <h2 class="cats__title">Blog</h2>
    </div>



    <!--Článek-->  


    <section class="text">

        <h2 class="text__title">{{ title }}</h2>
        <p class="text__paragraph">Publikováno {{ page.date.toLocaleString('cs-CZ')  }}</p>
        <p class="text__paragraph">{{ perex }}</p>
        <img class="picture picture--right" src="/images/{{ foto }}" alt="{{ alt }}">
            
    
            {{ content | safe }}
    
        
            <div class="wrapp-butt"><a class="button button--primary" href="/blog/">Přečíst další článek</a></div>
    </section>

</main>
