---
layout: layouts/vedlejsi-strana.njk
title: Detail kočka
---



<!--Header-image

<figcaption class="pages__img-wrapp"><img class="pages__img" src="/images/adoptuj-kocka-header.jpg" alt="kocky-adopce"></figcaption>
-->
<main class="wrapper">


    <!--Hlavní nadpis stránky-->

    <div class="wrapper__cats">
        <h2 class="cats__title">Pojďme se podívat zblízka na:</h2>
    </div>





    <!--Detail kočky-->
    

    <section class="text">
        <div class="page-cat">
            <figcaption class="page-cat__wrapp-img"><img class="page-cat__img" src="/kocky/{{ foto }}" alt="kočka k adopci"></figcaption>
            <div class="page-cat__content">
                <h3 class="page-cat__title">{{ title }}</h3>
                <div class="page-cat__checkbox-grids">
                    <div class="page-cat__checkbox-grid">
                        <img src="/icons/checkbox-{{ deti }}.svg" alt="ano"><p>hodí se k dětem</p>
                        <img src="/icons/checkbox-{{ pes }}.svg" alt="možná"><p>psí kamarád</p>
                        <img src="/icons/checkbox-{{ byt }}.svg" alt="ano"><p>do bytu</p>
                        <img src="/icons/checkbox-{{ jinakocka }}.svg" alt="ano"><p>k jiným kočkám</p>
                        <img src="/icons/checkbox-{{ zacatecnik }}.svg" alt="ano"><p>pro začátečníky</p>
                        <img src="/icons/checkbox-{{ kontaktni }}.svg" alt="ano"><p>kontaktní</p>
                        <img src="/icons/checkbox-{{ zahrada }}.svg" alt="ne"><p>na zahradu</p>
                    </div>
                    <div class="page-cat__checkbox-grid">
                        <img src="/icons/checkbox-{{ ockovani }}.svg" alt="ano"><p>očkování</p>
                        <img src="/icons/checkbox-{{ kastrace }}.svg" alt="ano"><p>kastrace</p>
                        <img src="/icons/checkbox-{{ handicap }}.svg" alt="ano"><p>handicap</p>
                        <img class="hidden" src="/icons/checkbox-ano.svg" alt="ano"><p class="hidden">x</p>
                        <img class="hidden" src="/icons/checkbox-ano.svg" alt="ano"><p class="hidden">x</p>
                        <img class="hidden" src="/icons/checkbox-ano.svg" alt="ano"><p class="hidden">x</p>
                        <img class="hidden" src="/icons/checkbox-ano.svg" alt="ne"><p class="hidden">x</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text__paragraph">VĚK: {{ vek }}</p>
        <p class="text__paragraph">POHLAVÍ: {{ pohlavi }}</p>
        <p class="text__paragraph">PLEMENO: {{ plemeno }}</p>
        <p class="text__paragraph">{{ popis }}</p>
        <p class="text__paragraph">adopční poplatek: 1000 kč</p>
        <div class="wrapp-butt wrapp-butt--space-up">
            <a class="button button--primary" href="/adoptuj/adopcni-dotaznik/">Zamluvit kočku</a>
            <a class="button button--primary space-up" href="/adoptuj/virtualni-adopce-dotaznik/">Virtuálně adoptovat</a>
        </div>
        <div class="wrapp-butt wrapp-butt--space-up"><a class="button button--primary" href="/adoptuj/">Další kočky k adopci</a></div>
    </section>

</main>
