<!DOCTYPE html>
<html lang="cs">


{% include 'partials/head.njk' %}


<body>

    {% include 'partials/header-hero-homepage.njk' %}




        {{ content | safe }}





    {% include 'partials/footer.njk' %}

</body>
</html>